/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 24, 2019, 1:54:17 PM
    Author     : 1635547
*/
#logo{
    max-width: 40%;
    max-height: 30%;
    margin-left: 30%;
}

.navbar-brand{
    margin: 0px;
    padding: 0px;
}

a{
    font-size: 1.2em;
}

.cards{
    width: 25rem;
    display:inline-block;
}

.displayinline{
    display:inline-block;
    width: 30%;
    margin-left: 2%;
    margin-top: 5%;
    border: 0px;
}

#ads{
    width: 70%;
    height: 10%;
    margin-left: 15%;
    float: left;
}

#genretitle{
    color : #000;
}

.card-title{
    text-align: center;
}

.table {
    width: 0;
    color: black;
}

.table-secondary{
    cursor: pointer;
}

#albumTable{
    width: 73.5%;
    margin-left: 13.5%;
}

.navcenter{
    margin-left: 35%;
}

.navlogin{
    width: 15%;
}

.formbutton{
    margin-left: 30%;
    width: 40%;
}

.centerform{
    margin-left: 33%;
    margin-top: 4%;
}

.albumPic{
    height: 200px;
    width: auto;
}
.trackPic{
    height: 150px;
    border-radius: 50%;
    width: auto;
}
.languagebutton{
    width: 40%;
    margin-left: 30%;
    text-align: center;
}

.manageroptions{
    display:inline-block;
    width: 16%;
    margin-left: 2%;
    margin-top: 5%;
    border: 0px;
}

.inventorychoices{
    margin-left: 28.5%;
}

section {
    padding: 60px 0;
}
.customLink{
    font-size: 1.0em;
}
section .section-title {
    text-align: center;
    color: black;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#info {
    width: 90%;
    height: 40%;
    margin-left: 5%;
}
#footer {
    background: #f7f7f9 !important;

    margin-top: 10%;
}
#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:black;
}
#footer a {
    color: black;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:black;
}
#footer ul.social li a:hover{
    color:#eeeeee;
}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

#logoFooter {
    width: 100%;
    height: 100%;
}
@media (max-width:767px){
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }}
.pages ul{
    width: 50%;
    margin-left: 30%;
    padding: 0;
}
.imageContainer{
    float: left;
    padding-left: 5%;
    width: 40%;
    height: auto;
}
.imageContainer img{
    width: 350px;
    height: auto;
}
#title{
    font-size: 1.875em;
    color: black;
    text-align: left;
}
.contentContainer{
    width: 60%;
    height: auto;
    float: left;
    padding-left: 8%;
}
.custom-select{
    width: 10%;
    margin-right: 2%;
}
.quantity{
    padding-right: 2%;
}
.detailInfo{
    width: 100%;
    margin-top: 35%;
}
.boldText{
    font-weight: bold;
}
.detail{
    font-weight: bold;
    color: black;
    font-size: 1.1em;
    text-align: center;
    margin-top: 7%;
}
.style{
    border-top: 1.5px solid black;
}
#details{
    margin-top: 2%;
    margin-left: 5%;
    color: black;
}

.arrows{
    height: 10%;
    width: 80%;
}

.emptybutton{
    padding: 0;
    border: none;
    background: none;
    position: relative;
    top: calc(50% - 25px);
}

.card-text img{
    height: 20%;
    width: 100%;
    display: block;
}

.genresimg{
    height: 60%;
    width: 60%;
    display: block;
    margin-left: 20%;
    margin-top: 5%;
}

#logomanager{
    height: 100%;
    margin-top: 100%;
}

.managernav{
    margin-top: 2%;

}

.addsurvey{
    width: 40%;
    margin-left: 30%;
}

.arrows{
    height: 10%;
    width: 80%;
}

.emptybutton{
    padding: 0;
    border: none;
    background: none;
    position: relative;
    top: calc(50% - 25px);
}

.card-text img{
    height: 20%;
    width: 100%;
    display: block;
}

.genresimg{
    height: 60%;
    width: 60%;
    display: block;
    margin-left: 20%;
    margin-top: 5%;
}

#logomanager{
    height: 100%;
    margin-top: 100%;
}

.managernav{
    margin-top: 2%;

}

.addsurvey{
    width: 40%;
    margin-left: 30%;
}
.column{
    margin-top: 2%;
    margin-left: 7%;
    padding-right: 7%;
    width: auto;
    font-size: 12px;
}
.customLink .albumInfo{
    display: none;
}
.flip-box {
    background-color: transparent;
    height: 200px;
    width: 200px;
    margin-top: 10%;
    text-align: left;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color:transparent;
    color: black;
}

.flip-box-back {
    background-color: transparent;
    color: black;
    transform: rotateY(180deg);
}
.title{
    font-weight: bold;
    text-align: center;
}
.paginationForm{
    margin-top: 10%;
}
.similarAlbum{
    height: 150px;
    width: auto;
}
.smallText{
    font-size: 12px;
    color: grey;
}
.searchItem:hover{
    background-color: #ECE8ED;
}
.patternTextBox{
    position: relative;
}
.searchList{
    position: absolute;
    top: 50%;
    width: 230px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
}